In [1]:
import pandas as pd
import numpy as np

# Pleiades

In [2]:
loc = 'stars_shortlist/Pleiades/results/run_06/catalog'
df1 = pd.read_csv('{}/Rebull_norotate.tsv'.format(loc), sep='\t',skiprows=55)
df1.head()

,_RAJ2000,_DEJ2000,EPIC,f_EPIC,t,Name,RAJ2000,DEJ2000,OName,Vmag,Ksmag,(V-K)0,Mm,PapIII
0,52.76490,19.63475,210784603,,t,033103.57+193805.1,52.76490,19.63475,s3289407,,10.13,3.77,best,1
1,53.00981,21.38635,210899735,,,033202.35+212310.8,53.00981,21.38635,,,12.11,4.89,best,1
2,53.04807,21.46559,210904850,,,033211.53+212756.1,53.04807,21.46559,UGCSJ033211.55+212755.7,,13.90,7.11,best,1
3,53.29373,22.52204,210971138,,,033310.49+223119.3,53.29373,22.52204,DH027,15.55,11.25,4.19,best,1
4,53.82811,23.43919,211029507,,,033518.74+232621.0,53.82811,23.43919,DH045,,13.98,6.22,best,1

In [3]:
df2 = pd.read_csv('{}/Rebull_rotate.tsv'.format(loc), sep='\t',skiprows=75)
df2.head()

,EPIC,Name,RAJ2000,DEJ2000,OName,Vmag,Ksmag,(V-K)0,Prot,Per2,...,Per4,Amp,LC,Mm,LPer,H10,vsini,PapIII,PapII,Fig
0,210991540,033149.84+225024.8,52.95768,22.84023,UGCSJ033149.85+225024.4,,12.75,5.10,0.5749,,...,,0.059,2,best,0.57,0,,1,1,Fig
1,211016313,033207.85+231357.5,53.03274,23.23265,DH017,,12.25,5.05,0.3193,,...,,0.056,1,best,,0,,1,1,Fig
2,211029135,033237.80+232559.3,53.15753,23.43315,UGCSJ033237.82+232559.0,,13.06,5.76,0.2860,,...,,0.032,4,best,,0,,1,1,Fig
3,211037397,033242.30+233400.4,53.17625,23.56679,DH022,,12.54,5.58,0.4990,0.3167,...,,0.023,1,best,,0,,1,1,Fig
4,210946764,033305.82+220803.2,53.27427,22.13423,PELS004,11.36,9.43,1.82,5.7660,,...,,0.011,4,best,,0,,1,1,Fig

In [4]:
mergecols = list(set(df1.columns.values.tolist()) & set(df2.columns.values.tolist()))
df3 = df2.merge(df1, on=mergecols, how='outer')
df3.head()

,EPIC,Name,RAJ2000,DEJ2000,OName,Vmag,Ksmag,(V-K)0,Prot,Per2,...,LPer,H10,vsini,PapIII,PapII,Fig,_RAJ2000,_DEJ2000,f_EPIC,t
0,210991540,033149.84+225024.8,52.95768,22.84023,UGCSJ033149.85+225024.4,,12.75,5.10,0.5749,,...,0.57,0.0,,1,1.0,Fig,NaN,NaN,NaN,NaN
1,211016313,033207.85+231357.5,53.03274,23.23265,DH017,,12.25,5.05,0.3193,,...,,0.0,,1,1.0,Fig,NaN,NaN,NaN,NaN
2,211029135,033237.80+232559.3,53.15753,23.43315,UGCSJ033237.82+232559.0,,13.06,5.76,0.2860,,...,,0.0,,1,1.0,Fig,NaN,NaN,NaN,NaN
3,211037397,033242.30+233400.4,53.17625,23.56679,DH022,,12.54,5.58,0.4990,0.3167,...,,0.0,,1,1.0,Fig,NaN,NaN,NaN,NaN
4,210946764,033305.82+220803.2,53.27427,22.13423,PELS004,11.36,9.43,1.82,5.7660,,...,,0.0,,1,1.0,Fig,NaN,NaN,NaN,NaN

In [16]:
df6 = pd.read_json('{}/panstarrs_search.json'.format(loc),encoding="utf8",lines=True,chunksize=1000)
for line in df6

ValueError: Unexpected character found when decoding array value (2)

In [5]:
df3 = df3.drop(['Fig','_RAJ2000','_DEJ2000'], axis=1)
df3.to_csv('{}/Pleiades_init.csv'.format(loc))

#  M44

In [8]:
loc = 'stars_shortlist/M44/results/run_06/catalog'
df4 = pd.read_csv('{}/Douglas.tsv'.format(loc), sep='\t',skiprows=103)
df4 = df4.rename(index=str,columns={'_RA':'RAJ2000','_DE':'DEJ2000'})
df4 = df4.drop(['_RAJ2000','_DEJ2000'],axis=1)
df4.head()

,Name,EPIC,Mass,r'mag,Kmag,Prot1,Pw1,Q1,Clean?,Sig,...,ProtK,Kpmag,Notes,PrCat,PCat,All,2M,Simbad,RAJ2000,DEJ2000
0,KW547,211898181,1.05,11.65,9.70,,,2,,,...,,11.68,...,0,0,All,2M,Simbad,130.157851,18.700121
1,A 448,211845572,0.15,18.59,14.57,,,2,,,...,,17.36,optical image is extended ...,0,0,All,2M,Simbad,129.143078,17.957611
2,KW548,212004731,0.80,11.81,10.59,3.96,0.1085,0,N,0.00838,...,,11.79,peak splitting; only one detected ...,0,0,All,2M,Simbad,130.815494,20.333748
3,JC201,211930461,0.73,13.49,10.76,14.59,0.8391,0,Y,0.00816,...,,13.49,binary barely resolved in SDSS ...,0,1,All,2M,Simbad,130.088905,19.181773
4,,212094548,0.16,19.52,14.25,6.6,0.0089,1,N,0.00521,...,,18.71,...,0,1,All,2M,Simbad,130.281121,21.915739

In [9]:
df4.to_csv('{}/M44_init.csv'.format(loc))

# M67

In [10]:
loc = 'stars_shortlist/M67/results/run_06/catalog'
df5 = pd.read_csv('{}/Gonzalez.tsv'.format(loc), sep='\t',skiprows=59)
df5 = df5.rename(index=str,columns={'_RA':'RAJ2000','_DE':'DEJ2000'})
df5 = df5.drop(['_RAJ2000','_DEJ2000','SimbadName'],axis=1)
df5.head()

,EPIC,IDX,Class,Cat,Period,FVI,Std,Stdc,RAJ2000,DEJ2000,N16,H16
0,211389202,,N,rot,27.949959,2.44,11.258,10.268,133.085563,11.470046,N16,H16
1,211389426,,N,mult,35.482820,5.31,36.910,36.249,132.961953,11.473468,N16,H16
2,211389428,,M,rot,28.722914,2.32,4.994,4.507,132.742179,11.473551,N16,H16
3,211389537,F2743,SM,rot,26.298620,3.24,2.398,2.281,132.734254,11.475449,N16,H16
4,211389698,,,rot,25.790699,1.92,26.414,22.531,132.984088,11.477908,N16,H16

In [11]:
df5.Class = df5.Class.str.strip()
df5 = df5[df5.Class.isin(['M','SM','BM']) ]
df5.to_csv('{}/M67_init.csv'.format(loc))