In [1]:
from astropy.io import fits
import pandas as pd
import numpy as np
211938860
file = '/home/ekaterina/Documents/appaloosa/stars_shortlist/Pleiades/hlsp_k2sc_k2_llc_211018587-c04_kepler_v2_lc.fits'
hdu = fits.open(file)
data_rec = hdu[1].data
lc = pd.DataFrame({'time':np.array(data_rec['TIME']).byteswap().newbyteorder(),
                      'flux_raw':np.array(data_rec['FLUX']).byteswap().newbyteorder(),})

In [26]:
p = pd.read_csv('/home/ekaterina/Documents/appaloosa/stars_shortlist/static/merged_specs.csv')
dif = p.Mbol.diff().fillna(method='bfill').fillna(method='ffill').rolling(2).max()/2.
p['M_bol_err'] = dif.fillna(method='bfill')

0      0.165
1      0.165
2      0.165
3      0.150
4      0.150
5      0.160
6      0.160
7      0.155
8      0.155
9      0.145
10     0.145
11     0.070
12     0.070
13     0.295
14     0.375
15     0.375
16     0.765
17     0.765
18     0.280
19     0.255
20     0.135
21     0.295
22     0.295
23     0.280
24     0.595
25     0.595
26     0.215
27     0.215
28     0.160
29     0.095
       ...
86     0.025
87     0.160
88     0.175
89     0.310
90     0.310
91     0.160
92     0.160
93     0.150
94     0.125
95     0.115
96     0.075
97     0.060
98     0.050
99     0.050
100    0.085
101    0.085
102    0.075
103    0.110
104    0.110
105    0.315
106    0.315
107    0.215
108    0.275
109    0.275
110    0.275
111    0.275
112    0.275
113    0.275
114    0.275
115    0.275
Name: Mbol, Length: 116, dtype: float64

In [5]:
lc.head()

       flux_raw         time
0  5.752362e+06  2228.800225
1  5.753924e+06  2228.820657
2  5.753816e+06  2228.841090
3  5.754397e+06  2228.861522
4  5.753682e+06  2228.881954

In [9]:
hdu[1].columns

In [20]:
hdu[1].data['trtime']

array([5647979.91007671, 5647896.31230533, 5647831.74578876, ...,
       5770077.49686954, 5770184.20786717, 5770293.42383748])

In [22]:
hdu[1].data['error']

array([60.75252533, 60.80658722, 60.80142975, ..., 62.37527847,
       62.38790894, 62.40031815])